<div class="about-container">
  <h1 class="d-flex justify-content-center py-2">Welcome to Foodie</h1>
  <h2 class="d-flex justify-content-center mb-5">
    World's favorite recipe blog app
  </h2>
  <div class="about-img d-flex justify-content-center">
    <img src="img/submit.png" alt="about me pic" />
  </div>
  <p class="lead mt-5 mb-5 d-flex mx-auto justify-content-center">
    Foodie is a recipe repository that allows users to search for delicious
    recipes. User can browse trending recipes, browse for recipes by category,
    or search for recipes by keyword. Users are also able to upload their own
    recipes, edit them, and delete them. If you want to know more about the web
    and/or want to share your favorite recipes? Please click on the button below
    to get in touch with me!
  </p>
  <div class="about-btn d-flex justify-content-center">
    <a href="#" class="btn btn-success mb-5">Contact Me</a>
  </div>
</div>
