* {
  box-sizing: border-box;
}

body {
  background-color: white;
}
a {
  color: var(--bs-dark);
}
footer {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0;
}
.master-container {
  max-width: 1520px;
  padding-right: 3rem;
  padding-left: 3rem;
}

.master-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom-style: groove;
  border-bottom-width: thin;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  text-decoration: none;
}
.logo-img {
  width: 142px;
  height: 28px;
}

.nav-ul {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 18px;
}

/* .footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
} */

.index-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
  --bs-gutter-y: 3rem;
  --bs-gutter-x: 3rem;
}
.index-img {
  width: 642px;
  height: 647px;
  filter: drop-shadow(35px 26px 33px rgba(0, 0, 0, 0.25));
}

.index-h1 {
  margin-bottom: 1rem;
  display: block;
  font-size: 67px;
  font-weight: 600;
}
.btn1 {
  background-color: #55c66d;
  color: white;
}
.btn2:hover {
  background-color: #55c66d;
}
.btn {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 0.5rem;
}

.trending-section {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.trending-link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}
.trending-link:hover {
  transform: scale(1.1);
  color: black;
}

.trending-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  border-radius: 8px;
}

.trending-img img {
  width: 100%;
  object-fit: cover;
}

.category-div {
  padding-top: 1.5rem;
  padding-bottom: 8rem;
}

.category-link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}
.category-link:hover {
  transform: scale(1.1);
  color: black;
}
.category-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  border-radius: 8px;
}
.category-img img {
  width: 100%;
  object-fit: cover;
}
.submit-section {
  background-color: #55c66d;
  color: white;
}

.btn3 {
  background-color: white;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 40px;
  font-weight: 500;
}
.contact .content p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact-container .contact-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.contact-container .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-container .contact-info .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.contact-container .contact-info .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
}
.contact-container .contact-info .text h3 {
  color: #55c66d;
  font-weight: 500;
}

.contact-form {
  width: 40%;
  padding: 40px;
}
.contact-form h2 {
  font-size: 30px;
  font-weight: 500;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
  resize: none;
}
.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: rgb(106, 105, 105);
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: #55c66d;
  font-size: 12px;
  transform: translateY(-25px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: #55c66d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contact-form .input-box input[type="submit"]:hover {
  transform: scale(1.1);
}
